[Unit]
Description=Copy Files from Initrd
After=systemd-volatile-root.service
Before=initrd-root-fs.target
AssertPathExists=/etc/initrd-release
ConditionKernelCommandLine=profile=home

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/setup-customize profile home
TimeoutSec=90s

[Install]
WantedBy=initrd-switch-root.target
