[Unit]
Description = Mount libexec
Before=kubelet.service
After=mnt-data.mount
Requires=mnt-data.mount
[Mount]
What=/mnt/data/kube-exec
Where=/usr/libexec
Type=none
Options=bind

[Install]
RequiredBy=kubelet.service
