[Unit]
Description = Mount kubeconfig
Before=kubelet.service
After=mnt-data.mount

[Mount]
What=/mnt/data/var-kubelet
Where=/var/lib/kubelet
Type=none
Options=bind

[Install]
RequiredBy=kubelet.service
